/*general CSS*/
:root{
    --main-color: #1ca700;
    --secondary-color: #004cff;
    --red-color: #ff0000;
    --green-color:#008000;
    --white-color: #ffffff;
    --black-color: #000000;
}
body{
    margin: 0;
}

.full-width{
    width: 100%;
}

.success-text{
    margin: 0 0 20px 0;
}
.centered{
    text-align: center;
}

.button{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.button:hover{
    background-color: var(--white-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.danger-button{
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.danger-button:hover{
    background-color: var(--white-color);
    border: 1px solid var(--red-color);
    color: var(--red-color);
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 10px;
}
/* Sidebar CSS */
.right-sidebar{
    background-color: #004cff;
    height:auto;
    margin: 20px;
    padding: 20px;

}
.right-sidebar .heading{
    color: var(--white-color);
    text-transform: uppercase;
    text-decoration: underline;
}
.sidebar-nav{
    list-style-type: none;
    color: var(--white-color);
    padding: 10px 0px;
}
.sidebar-nav li {
    padding: 10px 5px;
    border: 1px solid var(--white-color);
}
.sidebar-nav li a{
    text-decoration: none;
    color: var(--white-color);
}
/*Header CSS*/
.main-nav{
    background-color: var(--secondary-color);
    padding: 5px 15px;
}
.main-nav, .main-nav ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    color: var(--white-color);
}

.main-nav ul li{
    align-items: center;
    padding: 0 10px;
}
.main-nav ul li a{
    align-self: center;
    margin:auto;
    vertical-align: middle;
    /* padding: 0 10px; */
    text-decoration: none;
    color: var(--white-color);
}
.main-nav ul li a:hover{
    align-self: center;
    margin:auto;
    /* padding: 0 10px; */
    text-decoration: none;
    color: var(--green-color);
}
.main-nav .nav-button{
    background-color: var(--white-color);
    padding: 10px;
    align-self: center;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid var(--white-color);
    color: var(--black-color);
    text-decoration: none;
}
.main-nav .nav-button:hover{
    background-color: var(--secondary-color);
    padding: 10px;
    align-self: center;
    border-radius: 5px;
    border: 2px solid var(--white-color);
    color: var(--white-color);
}
/*Auth CSS*/
.auth-section{
    background-color: var(--white-color);
    width:50%;
    margin: 20px auto;
    padding: 10px 30px 30px;
    border-radius: 10px;
    color: var(--black-color);
}
.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.auth-form label, button{
    margin: 10px 0 0 0;
}

.auth-form-button{
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 5px 0px;
    border: 0px;
}

.auth-form-button:active, button:hover{
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 5px 0px;
    border: 2px solid var(--white-color);
    color: var(--white-color);
}

.auth-form button:disabled{
    background-color: var(--black-color);
    color: var(--white-color);
    opacity: 0.5;
    /* border: 0; */
}

.errmsg{
    color: var(--red-color);
    margin: 0;
    font-size: 19px;
    font-weight: 900;
    font-style: italic;
}
.hidden {
    display: none;
}

input, label{
    display: block;
}

.auth-link{
    color:var(--black-color);
    text-decoration: underline;
}
.auth-link:hover, .auth-link:active{
    color:var(--main-color);
    text-decoration: underline;
}

.login-button{
    background-color: var(--secondary-color);
    padding: 10px 20px;
    color: var(--white-color);
}
.login-button:hover{
    background-color: var(--main-color);
    padding: 10px 20px;
    color: var(--white-color);
    margin-top: 200px;
}

/* Posts CSS */
.share-post{
    margin: 20px;
}
.share-post .full-width-input{
    width: 100%;
}
.posts{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 30px;
}

.post-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 100px ) ;
    background-color: #fff;
    color: #444;
    padding: 10px;
    border-radius: 10px;
}

.post-profile-box img{
    width: 30px;
    height: 30px;
    /* max-width:100%; */
    border-radius: 100px;
}
.post-profile-box{
    /* grid-column: 1 / 2; */
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.post-profile-box .button-box{
    width: 100px;
}
.post-meta-box{
    grid-column: 2 / 9;
}
.post-description-box{
    grid-column: 1 / 9;
    grid-row: 2;
}
.post-comments-box{
    grid-column: 1 / 9;
    grid-row: 3;
}
/* Error CSS */
.error .button{
    margin-top: 30px;
    color: var(--black-color);
    text-decoration: none;
}
.error h2{
    margin-bottom: 30px;
}

/* Profile Tab CSS */
.profile-tab{
    display: block;
    margin: 30px;
}

.profile-tab .update{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--black-color);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    width: 80%;
    text-align: center;
    margin: 10px auto;
}
.profile-tab .update:hover{
    background-color: var(--white-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
}

.profile-tab .input{
    border: 1px solid var(--black-color);
    color: var(--black-color);
    padding: 10px 10px 10px 5px;
    border-radius: 5px;
    width: 80%;
}